* {
  /* border: 0.1px solid black; */
}

.title {
  width: 330px;
}

nav {
  margin-left: 750px;
  margin-right: 0px;
  margin-top: 0px;
  position: relative;
  z-index: 100;
  width: 250px;
  overflow: hidden;
}

.nav-bar {
  float: right;
  display: block;
  padding-left: 5px;
  color: white;
  text-decoration: none;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

input {
  width: 200px;
}

header {
  background-color: #222020;
  padding-bottom: 80px;
}

footer {
  background-color: #222020;
  color: white;
  margin-top: 500px;
}

.header-right {
  width: 15%;
  float: right;
  display: block;
  color: white;
  text-decoration: none;
  margin-top: 50px;
}

.logout_p {
  color: white;
  margin-left: 10px;
}

#logout {
  width: 40px;
  height: 40px;
}

body {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

header svg {
  fill: #B61313;
  stroke: rgb(0, 0, 0);
  stroke-width: 1;
  width: 230px;
  height: 10px;
  float: right;
  margin-right: 80px; // 70
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

#logo {
  width: 90px;
  height: 90px;
  margin-left: 200px;
}

header h1 {
  font-size: 40px;
  color: white;
  position: relative;
  left: 100px;
  top: 50px;
  outline-color: black;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

nav a {
  display: block;
  color: white;
  padding: 0px;
  text-decoration: none;
}

a {text-decoration: none;}

nav ul {
  list-style-type: none;
  padding: 0px;
}

footer {
  padding-bottom: 80px;
}

.footer-left {
  float: left;
  width: 48%;
  text-align: center;
}

.footer-right {
  float: right;
  width: 48%;
  text-align: center;
}

.socials {
  width: 40px;
  height: 40px;
}

footer input {
  width: 120px;
  height: 23px;
  border: none;
  text-align: center;
}

footer button {
  width: 122px;
  height: 23px;
  border: none;
  background-color: #B61313;
  color: white;
}

/*pecal content*/
main div {
  border: 6px solid #B61313;
  display: block;
  padding: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 240px;
  width: 500px;
}

.logindiv {
  width: 300px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px;
  top: 50%;
  bottom: 50%;
  border-spacing: 2px;
}

main h2 {
  text-align: center;
  padding: 2px;
}

main button {
  width: 122px;
  border: none;
  background-color: #B61313;
  color: white;
  margin-top: inherit;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  margin-top: 20px;
}
