* {
  /* border: 0.1px solid black; */
}

body {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

nav {
  margin-left: 750px;
  margin-right: 0px;
  margin-top: 0px;
  position: relative;
  z-index: 100;
  width: 250px;
  overflow: hidden;
}

nav a {
  display: block;
  color: white;
  padding: 0px;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0px;
}

header {
  background-color: #222020;
  padding-bottom: 20px;
}

#logo {
  width: 90px;
  height: 90px;
  margin-left: 200px;
}

.nav-bar {
  float: right;
  display: block;
  padding-left: 5px;
  color: white;
  text-decoration: none;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

header svg {
  fill: #B61313;
  stroke: rgb(0, 0, 0);
  stroke-width: 1;
  width: 230px;
  height: 10px;
  float: right;
  margin-right: 80px; // 70
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
}

.title {
  width: 330px;
}

header h1 {
  font-size: 40px;
  color: white;
  position: relative;
  left: 100px;
  top: 50px;
  outline-color: black;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

h2, h3, p {
  color: #222020;
}

h2 {
  text-align: center;
}

main img {
  border: 6px solid #B61313;
  padding: 2px;
}

#recipe-pic {
  max-width: 450px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cookbook-pic {
  width: 140px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #222020;
  color: white;
  margin-top: 100px;
}

.search-bar {
  padding-top: 30px;
  text-align: center;
}

main input {
  background-color: #B61313;
  border: none;
  text-align: center;
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
}

main button {
  background-color: #B61313;
  border-radius: 50%;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  /* margin: 4px 2px; */
}

.recipe-desc {
  max-width: 500px;
  margin: 0 auto;
}

.main-left {
  float: left;
  width: 59%;
}

.main-right {
  float: right;
  width: 39%;
  text-align: center;
  padding-top: 80px;
}

a {
  color: #222020;
  text-decoration: none;
}

footer {
  padding-bottom: 80px;
}

.footer-left {
  float: left;
  width: 48%;
  text-align: center;
}

.footer-right {
  float: right;
  width: 48%;
  text-align: center;
}

.socials {
  width: 40px;
  height: 40px;
}

footer input {
  width: 120px;
  height: 23px;
  border: none;
  text-align: center;
}

footer button {
  width: 122px;
  height: 23px;
  border: none;
  background-color: #B61313;
  color: white;
}

.RecipeCategory {
  position: absolute;
  right: 180px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  overflow: hidden;
}

.right {
  position: absolute;
  right: 180px;
  width: 100px;
  border: 3px solid #B61313;
  padding: 10px;
}

.left {
  position: absolute;
  width: 100px;
  border: 3px solid #B61313;
  padding: 10px;
}

.Recipe {
  position: static;
  padding: 5px;
  border-bottom-style: solid;
  border-color: #222020;
  height: 260px;
  width: auto;
  opacity: 0;
  padding-bottom: 30px;
}

#EvenRecipePicture {
  float: right;
  width: 200px;
  height: 200px;
  padding-left: 10px;
}

#OddRecipePicture {
  float: left;
  width: 200px;
  height: 200px;
  padding-right: 10px;
}

.submitrecipe {
  margin: auto;
  width: 50%;
  text-align: center;
}

.submitrecipe>button {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  font-size: 20px;
  background-color: #B61313;
  color: white;
  border-radius: 12px;
}

.RecipePicture {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-top: 50px;
  box-sizing: border-box;
}

.RecipePicture>img {
  width: 100%;
  height: 300px;
}

.RecipeTitle>h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: -10px;
}

.RecipeTitle>p {
  text-align: center;
}

.page-load-status {
  display: none;
  /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

  .recipeform {
    position: relative;
    margin: auto;
    width: 70%;
    background-color: #E1E1E1;
    border-radius: 10px;
    padding: 20px;
  }

  .submitbutton {
    display: block;
    margin: auto;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-left: 15px;
    font-size: 20px;
    background-color: #B61313;
    color: white;
    border-radius: 12px;
  }

  #recipeform>label {
    width: 25%;
    display: inline-block;
    margin-bottom: 10px;
  }

  #recipeform>input {
    width: 50%;
    align: center;
  }

  #recipeform>textarea {
    width: 99%
  }

  #div1>input {
    margin-left: 25.6%;
    margin-bottom: 10px;
    width: 50%
  }
  
  .formdescription{
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    text-align: center;
}
