* {
  /* border: 0.1px solid black; */
}

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  width: 90%;
  max-width: 1080px;
}

nav {
  margin-left: 750px;
  margin-right: 0px;
  margin-top: 0px;
  position: relative;
  z-index: 100;
  width: 250px;
  overflow: hidden;
}

.nav-bar {
  float: right;
  display: block;
  padding-left: 5px;
  color: white;
  text-decoration: none;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

nav a {
  display: block;
  color: white;
  padding: 0px;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0px;
}

header svg {
  fill: #B61313;
  stroke: rgb(0, 0, 0);
  stroke-width: 1;
  width: 230px;
  height: 10px;
  float: right;
  margin-right: 80px; // 70
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

header {
  background-color: #222020;
  padding-bottom: 20px;
}

header a {
  text-decoration: none;
}

#logo {
  width: 90px;
  height: 90px;
  margin-left: 200px;
}

.title {
  width: 300px;
}

h1 {
  font-size: 40px;
  color: white;
  position: relative;
  left: 100px;
  top: 50px;
  outline-color: black;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

h2 {
  color: white;
}

p {
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

.box {
  margin: auto;
  display: grid;
  width: 70%;
  padding: 50px;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 200px);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

img {
  width: 120px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.box-design {
    border: 4px solid #B61313;
    text-align: center;
  }

.box-design a {
  color: #222020;
  text-decoration: none;
}

footer {
  background-color: #222020;
  color: white;
  margin-top: 500px;
  padding-bottom: 90px;
}

.footer-left {
  float: left;
  width: 48%;
  text-align: center;
}

.footer-right {
  float: right;
  width: 48%;
  text-align: center;
}

.socials {
  width: 40px;
  height: 40px;
}

footer input {
  width: 120px;
  height: 23px;
  border: none;
  text-align: center;
}

footer button {
  width: 122px;
  height: 23px;
  border: none;
  background-color: #B61313;
  color: white;
}
